PORT=8001
NODE_ENV=production

MONGO_URL=mongodb+srv://kopiruang_db:adminkopi123@cluster-kopi.gdhsouf.mongodb.net/?appName=Cluster-kopi
DB_NAME=kopiruang_db

JWT_SECRET=1e8f573f6fe5ee48869e92ca21cc52d5faacb23a290be83eb2c6f3d555216d73
JWT_EXPIRE=7d

EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=Kopi Ruang <noreply@kopiruang.com>

APP_NAME=Kopi Ruang
APP_URL=https://kopiruang.vercel.app
API_URL=https://your-backend.railway.app

CORS_ORIGINS=https://kopiruang.vercel.app

WHATSAPP_NUMBER=6281217832603